https://raw.githubusercontent.com/romulosilvestre/semanaclassificacao-parte2/refs/heads/master/datasets/anacondabank_credit_scoring.csv

In [1]:
url = 'https://raw.githubusercontent.com/romulosilvestre/semanaclassificacao-parte2/refs/heads/master/datasets/anacondabank_credit_scoring.csv'

In [2]:
! pip install pandas

Requirement already satisfied: pandas in c:\vitória\anacondabank_m\venv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\vitória\anacondabank_m\venv\lib\site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\vitória\anacondabank_m\venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\vitória\anacondabank_m\venv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\vitória\anacondabank_m\venv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\vitória\anacondabank_m\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv(url)

In [5]:
df.head()

,default,conta_corrente,prazo_emprestimo_meses,historico_credito,proposito_emprestimo,valor_emprestimo,reserva_cc,tempo_emprego_atual,taxa_comp_salario,sexo_est_civil,...,anos_residencia_atual,propriedade,idade,outros_planos_financiamento,tipo_residencia,n_creditos_banco,status_emprego,n_dependentes,telefone,trabalhador_estrangeiro
0,0,< 0 DM,6,critical account/ other credits existing (not ...,domestic appliances,1169,unknown/ no savings account,.. >= 7 years,4,male : single,...,4,real estate,67,none,own,2,skilled employee / official,1,"yes, registered under the customers name",yes
1,1,0 <= ... < 200 DM,48,existing credits paid back duly till now,domestic appliances,5951,... < 100 DM,1 <= ... < 4 years,2,female : divorced/separated/married,...,2,real estate,22,none,own,1,skilled employee / official,1,none,yes
2,0,no checking account,12,critical account/ other credits existing (not ...,(vacation - does not exist?),2096,... < 100 DM,4 <= ... < 7 years,2,male : single,...,3,real estate,49,none,own,1,unskilled - resident,2,none,yes
3,0,< 0 DM,42,existing credits paid back duly till now,radio/television,7882,... < 100 DM,4 <= ... < 7 years,2,male : single,...,4,if not A121 : building society savings agreeme...,45,none,for free,1,skilled employee / official,2,none,yes
4,1,< 0 DM,24,delay in paying off in the past,car (new),4870,... < 100 DM,1 <= ... < 4 years,3,male : single,...,4,unknown / no property,53,none,for free,2,skilled employee / official,2,none,yes

In [6]:
df.columns

Index(['default', 'conta_corrente', 'prazo_emprestimo_meses',
       'historico_credito', 'proposito_emprestimo', 'valor_emprestimo',
       'reserva_cc', 'tempo_emprego_atual', 'taxa_comp_salario',
       'sexo_est_civil', 'outros_fiadores', 'anos_residencia_atual',
       'propriedade', 'idade', 'outros_planos_financiamento',
       'tipo_residencia', 'n_creditos_banco', 'status_emprego',
       'n_dependentes', 'telefone', 'trabalhador_estrangeiro'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   default                      1000 non-null   int64
 1   conta_corrente               1000 non-null   object
 2   prazo_emprestimo_meses       1000 non-null   int64
 3   historico_credito            1000 non-null   object
 4   proposito_emprestimo         1000 non-null   object
 5   valor_emprestimo             1000 non-null   int64
 6   reserva_cc                   1000 non-null   object
 7   tempo_emprego_atual          1000 non-null   object
 8   taxa_comp_salario            1000 non-null   int64
 9   sexo_est_civil               1000 non-null   object
 10  outros_fiadores              1000 non-null   object
 11  anos_residencia_atual        1000 non-null   int64
 12  propriedade                  1000 non-null   object
 13  idade                        1000 non-null   int64
 14  outros_planos_financiamento  1000 non-null   object
 15  tipo_residencia              1000 non-null   object
 16  n_creditos_banco             1000 non-null   int64
 17  status_emprego               1000 non-null   object
 18  n_dependentes                1000 non-null   int64
 19  telefone                     1000 non-null   object
 20  trabalhador_estrangeiro      1000 non-null   object
dtypes: int64(8), object(13)
memory usage: 164.2+ KB

In [8]:
df['conta_corrente'].unique()

array(['< 0 DM', '0 <= ... < 200 DM', 'no checking account',
       '>= 200 DM / salary assignments for at least 1 year'], dtype=object)

In [9]:
dict_c2 ={
    '< 0 DM':1,
    '0 <= ... < 200 DM':2,
    'no checking account':3,
    '>= 200 DM / salary assignments for at least 1 year':4
}

In [10]:
df['conta_corrente']= df['conta_corrente'].map(dict_c2)

In [11]:
df

,default,conta_corrente,prazo_emprestimo_meses,historico_credito,proposito_emprestimo,valor_emprestimo,reserva_cc,tempo_emprego_atual,taxa_comp_salario,sexo_est_civil,...,anos_residencia_atual,propriedade,idade,outros_planos_financiamento,tipo_residencia,n_creditos_banco,status_emprego,n_dependentes,telefone,trabalhador_estrangeiro
0,0,1,6,critical account/ other credits existing (not ...,domestic appliances,1169,unknown/ no savings account,.. >= 7 years,4,male : single,...,4,real estate,67,none,own,2,skilled employee / official,1,"yes, registered under the customers name",yes
1,1,2,48,existing credits paid back duly till now,domestic appliances,5951,... < 100 DM,1 <= ... < 4 years,2,female : divorced/separated/married,...,2,real estate,22,none,own,1,skilled employee / official,1,none,yes
2,0,3,12,critical account/ other credits existing (not ...,(vacation - does not exist?),2096,... < 100 DM,4 <= ... < 7 years,2,male : single,...,3,real estate,49,none,own,1,unskilled - resident,2,none,yes
3,0,1,42,existing credits paid back duly till now,radio/television,7882,... < 100 DM,4 <= ... < 7 years,2,male : single,...,4,if not A121 : building society savings agreeme...,45,none,for free,1,skilled employee / official,2,none,yes
4,1,1,24,delay in paying off in the past,car (new),4870,... < 100 DM,1 <= ... < 4 years,3,male : single,...,4,unknown / no property,53,none,for free,2,skilled employee / official,2,none,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,3,12,existing credits paid back duly till now,radio/television,1736,... < 100 DM,4 <= ... < 7 years,3,female : divorced/separated/married,...,4,real estate,31,none,own,1,unskilled - resident,1,none,yes
996,0,1,30,existing credits paid back duly till now,car (used),3857,... < 100 DM,1 <= ... < 4 years,4,male : divorced/separated,...,4,if not A121 : building society savings agreeme...,40,none,own,1,management/ self-employed/ highly qualified em...,1,"yes, registered under the customers name",yes
997,0,3,12,existing credits paid back duly till now,domestic appliances,804,... < 100 DM,.. >= 7 years,4,male : single,...,4,"if not A121/A122 : car or other, not in attrib...",38,none,own,1,skilled employee / official,1,none,yes
998,1,1,45,existing credits paid back duly till now,domestic appliances,1845,... < 100 DM,1 <= ... < 4 years,4,male : single,...,4,unknown / no property,23,none,for free,1,skilled employee / official,1,"yes, registered under the customers name",yes
999,0,2,45,critical account/ other credits existing (not ...,car (used),4576,100 <= ... < 500 DM,unemployed,3,male : single,...,4,"if not A121/A122 : car or other, not in attrib...",27,none,own,1,skilled employee / official,1,none,yes

In [12]:
df['historico_credito'].unique()

array(['critical account/ other credits existing (not at this bank)',
       'existing credits paid back duly till now',
       'delay in paying off in the past',
       'no credits taken/ all credits paid back duly',
       'all credits at this bank paid back duly'], dtype=object)

In [13]:
dict_historico= {
    'critical account/ other credits existing (not at this bank)':1,
    'existing credits paid back duly till now':2,
    'delay in paying off in the past':3,
    'no credits taken/ all credits paid back duly':4,
    'all credits at this bank paid back duly':5
}

In [14]:
df['historico_credito']= df['historico_credito'].map(dict_historico)

In [15]:
df

,default,conta_corrente,prazo_emprestimo_meses,historico_credito,proposito_emprestimo,valor_emprestimo,reserva_cc,tempo_emprego_atual,taxa_comp_salario,sexo_est_civil,...,anos_residencia_atual,propriedade,idade,outros_planos_financiamento,tipo_residencia,n_creditos_banco,status_emprego,n_dependentes,telefone,trabalhador_estrangeiro
0,0,1,6,1,domestic appliances,1169,unknown/ no savings account,.. >= 7 years,4,male : single,...,4,real estate,67,none,own,2,skilled employee / official,1,"yes, registered under the customers name",yes
1,1,2,48,2,domestic appliances,5951,... < 100 DM,1 <= ... < 4 years,2,female : divorced/separated/married,...,2,real estate,22,none,own,1,skilled employee / official,1,none,yes
2,0,3,12,1,(vacation - does not exist?),2096,... < 100 DM,4 <= ... < 7 years,2,male : single,...,3,real estate,49,none,own,1,unskilled - resident,2,none,yes
3,0,1,42,2,radio/television,7882,... < 100 DM,4 <= ... < 7 years,2,male : single,...,4,if not A121 : building society savings agreeme...,45,none,for free,1,skilled employee / official,2,none,yes
4,1,1,24,3,car (new),4870,... < 100 DM,1 <= ... < 4 years,3,male : single,...,4,unknown / no property,53,none,for free,2,skilled employee / official,2,none,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,3,12,2,radio/television,1736,... < 100 DM,4 <= ... < 7 years,3,female : divorced/separated/married,...,4,real estate,31,none,own,1,unskilled - resident,1,none,yes
996,0,1,30,2,car (used),3857,... < 100 DM,1 <= ... < 4 years,4,male : divorced/separated,...,4,if not A121 : building society savings agreeme...,40,none,own,1,management/ self-employed/ highly qualified em...,1,"yes, registered under the customers name",yes
997,0,3,12,2,domestic appliances,804,... < 100 DM,.. >= 7 years,4,male : single,...,4,"if not A121/A122 : car or other, not in attrib...",38,none,own,1,skilled employee / official,1,none,yes
998,1,1,45,2,domestic appliances,1845,... < 100 DM,1 <= ... < 4 years,4,male : single,...,4,unknown / no property,23,none,for free,1,skilled employee / official,1,"yes, registered under the customers name",yes
999,0,2,45,1,car (used),4576,100 <= ... < 500 DM,unemployed,3,male : single,...,4,"if not A121/A122 : car or other, not in attrib...",27,none,own,1,skilled employee / official,1,none,yes

In [16]:

df['proposito_emprestimo'].unique()

dict_pe = {
    'domestic appliances':1,
    '(vacation - does not exist?)':2,
    'radio/television':3,
    'car (new)':4,
    'car (used)':5,
    'business':6,
    'repairs':7,
    'education':8,
    'furniture/equipment':9,
    'retraining':10

}

df['proposito_emprestimo'] = df['proposito_emprestimo'].map(dict_pe)

In [17]:
df["reserva_cc"].unique()

dict_rcc = {
    "unknown/ no savings account":0,
    "... < 100 DM":1,
    "500 <= ... < 1000 DM ":2,
    ".. >= 1000 DM ":3,
    "100 <= ... < 500 DM":4,
}

df["reserva_cc"] = df["reserva_cc"].map(dict_rcc)

In [18]:
#unique
df['sexo_est_civil'].unique()
#dicionário
sexo_est_civil ={
    'male : single':1,
    'female : divorced/separated/married':2,
    'male : divorced/separated':3,
    'male : married/widowed':4
}
#map
df['sexo_est_civil']=df['sexo_est_civil'].map(sexo_est_civil)

In [19]:
df['outros_planos_financiamento'].unique()

dict_opf = {
    'none':1,
    'bank':2,
    'stores':3
}

df['outros_planos_financiamento'] = df['outros_planos_financiamento'].map(dict_opf)

In [20]:
#unique
df['tipo_residencia'].unique()

#dicionário
dict_tr = {
    'own':1,
    'for free':2,
    'rent':3,
}
#map
df['tipo_residencia'] =df['tipo_residencia'].map(dict_tr)

In [21]:
#unique
df['status_emprego'].unique()

#dicionário
dict_status_emprego = {
    'skilled employee / official':1,
    'unskilled - resident':2,
    'management/ self-employed/ highly qualified employee/ officer':3,
    'unemployed/ unskilled - non-resident':4}

#map
df['status_emprego'] = df['status_emprego'].map(dict_status_emprego)

In [22]:
#unique
df['telefone'].unique()

#dicionário
dict_tel = {
    'none':0,
    'yes, registered under the customers name ':1,
}

#map
df['telefone'] = df['telefone'].map(dict_tel)

In [23]:
#unique
df['trabalhador_estrangeiro'].unique()

#dicionário
dict_te = {
    'no':0,
    'yes':1,
}

#map
df['trabalhador_estrangeiro'] = df['trabalhador_estrangeiro'].map(dict_te)

In [24]:
df.head(100)

,default,conta_corrente,prazo_emprestimo_meses,historico_credito,proposito_emprestimo,valor_emprestimo,reserva_cc,tempo_emprego_atual,taxa_comp_salario,sexo_est_civil,...,anos_residencia_atual,propriedade,idade,outros_planos_financiamento,tipo_residencia,n_creditos_banco,status_emprego,n_dependentes,telefone,trabalhador_estrangeiro
0,0,1,6,1,1,1169,0,.. >= 7 years,4,1,...,4,real estate,67,1,1,2,1,1,1,1
1,1,2,48,2,1,5951,1,1 <= ... < 4 years,2,2,...,2,real estate,22,1,1,1,1,1,0,1
2,0,3,12,1,2,2096,1,4 <= ... < 7 years,2,1,...,3,real estate,49,1,1,1,2,2,0,1
3,0,1,42,2,3,7882,1,4 <= ... < 7 years,2,1,...,4,if not A121 : building society savings agreeme...,45,1,2,1,1,2,0,1
4,1,1,24,3,4,4870,1,1 <= ... < 4 years,3,1,...,4,unknown / no property,53,1,2,2,1,2,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1,2,54,4,6,15945,1,... < 1 year,3,1,...,4,unknown / no property,58,1,3,1,1,1,1,1
96,0,3,12,1,2,2012,0,4 <= ... < 7 years,4,2,...,2,"if not A121/A122 : car or other, not in attrib...",61,1,1,1,1,1,0,1
97,0,2,18,2,6,2622,4,1 <= ... < 4 years,4,1,...,4,"if not A121/A122 : car or other, not in attrib...",34,1,1,1,1,1,0,1
98,0,2,36,1,1,2337,1,.. >= 7 years,4,1,...,4,real estate,36,1,1,1,1,1,0,1
99,0,2,20,3,5,7057,0,4 <= ... < 7 years,3,1,...,4,if not A121 : building society savings agreeme...,36,2,3,2,3,2,1,1

In [25]:
df_object = df.select_dtypes(include=['object'])

df_object.head()


df["outros_fiadores"].unique()
dict_of = {
    "none":1,
    "guarantor":2,
    "co-applicant":3,
}

df["outros_fiadores"] = df["outros_fiadores"].map(dict_of)

In [26]:
df['tempo_emprego_atual'].unique()

#dicionário
dict_tea = {
    '.. >= 7 years':1,
    '1 <= ... < 4 years':2,
    '4 <= ... < 7 years':3,
    'unemployed':4,
    '... < 1 year ':5
}
#map
df['tempo_emprego_atual'] = df['tempo_emprego_atual'].map(dict_tea)

In [27]:
df['propriedade'].unique()

array(['real estate',
       'if not A121 : building society savings agreement/ life insurance',
       'unknown / no property',
       'if not A121/A122 : car or other, not in attribute 6'],
      dtype=object)

In [28]:
df

,default,conta_corrente,prazo_emprestimo_meses,historico_credito,proposito_emprestimo,valor_emprestimo,reserva_cc,tempo_emprego_atual,taxa_comp_salario,sexo_est_civil,...,anos_residencia_atual,propriedade,idade,outros_planos_financiamento,tipo_residencia,n_creditos_banco,status_emprego,n_dependentes,telefone,trabalhador_estrangeiro
0,0,1,6,1,1,1169,0,1,4,1,...,4,real estate,67,1,1,2,1,1,1,1
1,1,2,48,2,1,5951,1,2,2,2,...,2,real estate,22,1,1,1,1,1,0,1
2,0,3,12,1,2,2096,1,3,2,1,...,3,real estate,49,1,1,1,2,2,0,1
3,0,1,42,2,3,7882,1,3,2,1,...,4,if not A121 : building society savings agreeme...,45,1,2,1,1,2,0,1
4,1,1,24,3,4,4870,1,2,3,1,...,4,unknown / no property,53,1,2,2,1,2,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,3,12,2,3,1736,1,3,3,2,...,4,real estate,31,1,1,1,2,1,0,1
996,0,1,30,2,5,3857,1,2,4,3,...,4,if not A121 : building society savings agreeme...,40,1,1,1,3,1,1,1
997,0,3,12,2,1,804,1,1,4,1,...,4,"if not A121/A122 : car or other, not in attrib...",38,1,1,1,1,1,0,1
998,1,1,45,2,1,1845,1,2,4,1,...,4,unknown / no property,23,1,2,1,1,1,1,1
999,0,2,45,1,5,4576,4,4,3,1,...,4,"if not A121/A122 : car or other, not in attrib...",27,1,1,1,1,1,0,1

In [29]:
#unique
df['propriedade'].unique()
#dicionário
dict_propriedade = {
    'real estate':1,
    'if not A121 : building society savings agreement/ life insurance':2,
    'unknown / no property':3,
    'if not A121/A122 : car or other, not in attribute 6':4
  
}
#map
df['propriedade'] = df['propriedade'].map(dict_propriedade)

In [30]:
df

,default,conta_corrente,prazo_emprestimo_meses,historico_credito,proposito_emprestimo,valor_emprestimo,reserva_cc,tempo_emprego_atual,taxa_comp_salario,sexo_est_civil,...,anos_residencia_atual,propriedade,idade,outros_planos_financiamento,tipo_residencia,n_creditos_banco,status_emprego,n_dependentes,telefone,trabalhador_estrangeiro
0,0,1,6,1,1,1169,0,1,4,1,...,4,1,67,1,1,2,1,1,1,1
1,1,2,48,2,1,5951,1,2,2,2,...,2,1,22,1,1,1,1,1,0,1
2,0,3,12,1,2,2096,1,3,2,1,...,3,1,49,1,1,1,2,2,0,1
3,0,1,42,2,3,7882,1,3,2,1,...,4,2,45,1,2,1,1,2,0,1
4,1,1,24,3,4,4870,1,2,3,1,...,4,3,53,1,2,2,1,2,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,3,12,2,3,1736,1,3,3,2,...,4,1,31,1,1,1,2,1,0,1
996,0,1,30,2,5,3857,1,2,4,3,...,4,2,40,1,1,1,3,1,1,1
997,0,3,12,2,1,804,1,1,4,1,...,4,4,38,1,1,1,1,1,0,1
998,1,1,45,2,1,1845,1,2,4,1,...,4,3,23,1,2,1,1,1,1,1
999,0,2,45,1,5,4576,4,4,3,1,...,4,4,27,1,1,1,1,1,0,1

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   default                      1000 non-null   int64
 1   conta_corrente               1000 non-null   int64
 2   prazo_emprestimo_meses       1000 non-null   int64
 3   historico_credito            1000 non-null   int64
 4   proposito_emprestimo         1000 non-null   int64
 5   valor_emprestimo             1000 non-null   int64
 6   reserva_cc                   1000 non-null   int64
 7   tempo_emprego_atual          1000 non-null   int64
 8   taxa_comp_salario            1000 non-null   int64
 9   sexo_est_civil               1000 non-null   int64
 10  outros_fiadores              1000 non-null   int64
 11  anos_residencia_atual        1000 non-null   int64
 12  propriedade                  1000 non-null   int64
 13  idade                        1000 non-null   int64
 14  outros_planos_financiamento  1000 non-null   int64
 15  tipo_residencia              1000 non-null   int64
 16  n_creditos_banco             1000 non-null   int64
 17  status_emprego               1000 non-null   int64
 18  n_dependentes                1000 non-null   int64
 19  telefone                     1000 non-null   int64
 20  trabalhador_estrangeiro      1000 non-null   int64
dtypes: int64(21)
memory usage: 164.2 KB

# Regressão Logística